<!-- howdy/templates/about.html -->
<!--DOCTYPE html-->
<!-- Loads the path to your static files-->

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'coral/search.css'}" />
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--meta charset="utf-8"-->
        <title>Fun Facts!</title>
    </head>
    <body>
        <h1>Fun Facts</h1>
        <p>
            <b> 1. Corals get their rich, florid colors from the bacteria zooxanthellae. </b> <div> Zooxanthellae and corals have a symbiotic relationship.
        </p>
        <p>
            <b> 2. Corals are actually animals - contrary to popular belief. </b> <div>However, the bacteria zooxanthellae performs photosynthesis to survive.
        </p> 
        <p>
            <b> 3. Corals reefs are one of the most diverse ecosystems in the world. </b>
        </p>

    <a href="/">Go back home</a>
    </body>
</html>